%shared-box-shadow {
  box-shadow: 0 3px 6px 0 $shadowPrimaryColor !important;
}

%shared-box-shadow-dark {
  box-shadow: 0 3px 6px $shadowDarkColor !important;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-v-center {
  display: flex;
  align-items: center;
}

// $scrollbar-size: 8px;

// %scrollbar-v {
//   &::-webkit-scrollbar {
//     width: 8px;
//     background: $colorWhite;
//     border-radius: 8px;

//     &-track {
//       border-right: 3px solid $colorWhite;
//       background: $colorWhite;
//       margin: 3px 0;
//     }

//     &-thumb {
//       background: $colorLightBlue;
//       border-radius: 6px 9px 9px 6px;
//       border-right: 3px solid $colorWhite;
//       min-height: 100px;

//       &:hover {
//         background: $colorBlue;
//         cursor: pointer;
//       }
//     }
//   }

//   scrollbar-color: $colorLightBlue $colorWhite;
//   scrollbar-width: thin !important;
// }
