.lazyload,
.lazyloading {
  opacity: 0;
  transform: scale(0.8);
}

.lazyloaded {
  opacity: 1;
  transition: all 200ms;
  transform: scale(1);
}

.is-dragging-over {
  background-color: $colorGray;
}

.bg-white {
  background-color: $colorWhite;
}

.bg-light-blue {
  background-color: $colorLightGrayishBlue;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-flex-column {
  display: flex !important;
  flex-direction: column;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.line-height {
  line-height: initial;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

.translate-x-1 {
  transform: translateX(0);
}

.translate-x-6 {
  transform: translateX(100%);
}

.modal-header {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  color: $colorBlue;
}

.inputs-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.shadow {
  @extend %shared-box-shadow;
}

.p-4 {
  padding: 1rem !important;
}

.my-4 {
  margin: 1rem 0 !important;
}

hr {
  background-color: $colorBlue !important;
}
