// ***********************************
// VARIABLES
// ***********************************
$colorWhite: #fff;
$colorPrimary: #212529;
$colorGray: #f7f7f7 !default;
$colorDarkGray: #b3a4a4 !default;
$colorLightGrayishBlue: #f5f6fa !default;
$colorBlue: #0971fe !default;
$colorLightBlue: #3a8dfe !default;
$colorDarkBlue: #0860d8 !default;
$colorDesaDarkBlue: #6e82a5 !default;
$colorRed: #f00 !default;
$shadowPrimaryColor: rgba($colorGray, 20%);
$shadowDarkColor: rgba($colorGray, 60%);
$fontRoboto: "Roboto", sans-serif;
$fontSizeDefault: 14px;

// =======================
