$button-round-size-48: 48px;
$button-round-size-24: 24px;
$button-round-font-size-24: 24px;
$button-round-font-size-12: 12px;

.button-component {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: bold;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  color: $colorBlue;
  font-size: $fontSizeDefault;
  font-family: $fontRoboto;
  background-color: transparent;
  cursor: pointer;

  &:not(:disabled) {
    &:hover {
      outline: none;
      box-shadow: none;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &.default-button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    letter-spacing: 0.02em;

    &:hover {
      outline: none;
      background-color: $colorGray;
    }

    &:focus {
      outline: none;
      background-color: $colorGray;
    }

    &-small {
      padding: 5px 3rem !important;
    }
  }

  &.flat {
    font-size: 14px;
    font-weight: 500;
    color: $colorBlue;
    padding: 0.5rem;
    min-height: $button-round-size-24;
    line-height: initial;
    background-color: $colorGray;
    border-radius: 5px;
    white-space: nowrap;

    &:hover {
      color: $colorPrimary;
      background-color: $colorGray;
    }
  }

  &.filled {
    background-color: $colorBlue;
    color: $colorGray;
    font-family: $fontRoboto;
    font-weight: 500;
    padding: 0.5rem;
    white-space: nowrap;

    &:hover {
      outline: none;
      border: none;
      background-color: $colorDarkBlue;
      color: $colorGray;
    }
  }

  &.small {
    padding: 0.5rem;
  }

  &.border {
    background-color: $colorWhite;
    border: 2px solid $colorLightBlue !important;

    &:hover {
      background-color: $colorWhite;
      border-color: $colorLightBlue !important;
    }
  }

  &.round {
    border-radius: 50%;
    min-width: $button-round-size-48;
    min-height: $button-round-size-48;
    padding: 15px;

    @extend %flex-center;

    i {
      font-size: $button-round-font-size-12;
    }

    &:hover,
    &:focus {
      & i svg * {
        fill: currentcolor;
        stroke: currentcolor;
      }
    }

    &.small {
      padding: 0;
      min-width: 24px;
      min-height: 24px;
      max-width: 24px;
      max-height: 24px;
    }

    &.mid {
      padding: 10px;
      min-width: 32px;
      min-height: 32px;
      max-width: 32px;
      max-height: 32px;
    }
  }

  &.icon {
    background-color: transparent;
    max-width: $button-round-size-48;
    max-height: $button-round-size-48;

    &:hover,
    &:focus {
      background-color: $colorGray;
    }
  }

  &.isDisabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: rgba($colorDarkBlue, 60%);
  }
}
