.p-tooltip {
  &-text {
    box-shadow: none;
    background-color: $colorGray;
    color: $colorBlue;
    font-size: 14px;
    padding: 4px;
  }

  &-top {
    & .p-tooltip-arrow {
      border-top-color: $colorGray;
    }
  }
}
