.form-cell-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 4px 0;

  &.checkbox-text {
    flex-direction: row;
    align-items: center;
    border: 1px solid $colorDarkGray;
    border-radius: 0.5rem;
    padding: 3px;

    & .label {
      margin-left: 0.5rem;
      margin-bottom: 0;
      font-size: 14px;
      color: $colorBlue;
    }

    &:hover {
      background-color: $colorBlue;
      color: $colorWhite;

      & .label {
        color: $colorWhite;
      }
    }
  }

  & .label {
    margin-bottom: 4px;
  }
}
