.input-component {
  display: flex;
  position: relative;
  width: 100%;

  &--content {
    display: flex;
    align-items: center;
    width: 100%;
    border: none;

    & .button {
      height: 32px;
    }
  }

  & input {
    background-color: $colorWhite;
    padding: 3px;
    color: $colorPrimary;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid $colorDarkGray;
    height: auto;
    line-height: 1;
    font-size: $fontSizeDefault;

    &:focus,
    &:active {
      border: 1px solid $colorBlue;
    }

    &.invalid {
      border: 2px solid $colorRed;
    }
  }

  &__range {
    display: flex;
    flex-direction: column;

    &--text {
      width: 100%;
      display: block;
      font-size: 16px;
      color: $colorWhite;
      text-align: center;
    }
  }

  & .p-inputswitch {
    &-slider {
      background-color: $colorGray;

      &::before {
        background-color: $colorPrimary;
      }
    }

    &-checked .p-inputswitch-slider {
      &::before {
        background-color: $colorDarkBlue;
      }
    }
  }
}
